@charset "UTF-8";

*{
    height: 100%;
}
body{
background-image: radial-gradient(to circle, rgb(255, 254, 254), rgb(36, 32, 32));
}
main{
    background-color: aliceblue;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(49, 48, 48, 0.705);
    
}
h1{
color: rgb(38, 38, 102);
text-align: center;
}
p{
    color: rgb(65, 65, 104);
    text-align: justify, center;
}