@charset "UTF-8";

body{
background-color: rgb(69, 107, 139);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h1{
    color: rgb(50, 95, 95);
}
h1#principal{
    text-align: center;
}
h2{
    color: rgb(22, 50, 75);
}
h2.basico{
    color: rgb(74, 184, 46);
}
h2.intermediario{
    color: rgb(255, 153, 0);
}
h2.avancado{
    color: rgb(236, 5, 5);
}
